{% extends 'files/base.html' %}

{% block content%}
{% if user.is_authenticated %}
    <h1>Files</h1>
    <table class="table table-striped table-hover table-bordered">
        {% for file in file_list %}
        <tr>
            <td>
                <a href="{{ file.file.url }}">{{ file.name }}</a>
            </td>
            <td align="right">
                <a href="{% url 'remove_file' file.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

{% else %}
    <h1>You need to be logged in to see this page</h1>
{% endif %}
{% endblock %}
